# Car Price Prediction

Muhammad Kevin Athfalyuna

2509116058

Class B

# Import Library

In [2]:
import pandas as pd

#Dataset

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import os
os.listdir('/root/.cache/kagglehub/datasets/nehalbirla/vehicle-dataset-from-cardekho/versions/3')

['CAR DETAILS FROM CAR DEKHO.csv', 'Car details v3.csv', 'car data.csv']

In [12]:
df = pd.read_csv('/root/.cache/kagglehub/datasets/nehalbirla/vehicle-dataset-from-cardekho/versions/3/Car details v3.csv')
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

#Business Understanding

Pada tahap Business Understanding, kita mencoba memahami tujuan dari analisis data yang dilakukan. Dataset yang digunakan berisi berbagai informasi mengenai mobil seperti tahun produksi, jarak tempuh, tipe bahan bakar, transmisi, serta harga jual mobil.
Melalui data ini, kita ingin mengetahui faktor-faktor apa saja yang memengaruhi harga mobil sehingga dapat membantu dalam memperkirakan harga jual yang wajar.

**1. Business Objective**

Tujuan utama dari analisis ini adalah memprediksi harga mobil berdasarkan karakteristik yang dimiliki mobil tersebut. Hasil prediksi dapat membantu penjual maupun pembeli dalam menentukan harga yang sesuai dengan kondisi mobil.

**2. Asses Situation**

Dataset yang digunakan berisi lebih dari 1000 data mobil dengan beberapa atribut penting seperti:

	1. Tahun pembuatan mobil
	2. Jarak tempuh penggunaan
	3. Jenis bahan bakar
	4. Tipe transmisi
	5. Harga jual mobil

Data ini cukup representatif untuk dilakukan analisis serta pembuatan model prediksi harga.

 **3. Analytic Goals Project Plan**

Analisis yang dilakukan bertujuan untuk:

	1. Mengetahui hubungan antara fitur mobil dengan harga jual.
	2. Mengidentifikasi faktor yang paling berpengaruh terhadap harga.
	3. Membangun model machine learning yang mampu memprediksi harga mobil secara akurat.

**4. Project Plan**

Langkah-langkah yang akan dilakukan dalam proyek ini:

	1.	Memuat dan memahami dataset.
	2.	Melakukan eksplorasi data serta pengecekan nilai yang hilang.
	3.	Melakukan preprocessing data seperti encoding dan normalisasi jika diperlukan.
	4.	Membagi data menjadi data latih dan data uji.
	5.	Membangun model prediksi menggunakan beberapa algoritma.
	6.	Mengevaluasi performa model dan menarik kesimpulan dari hasil analisis.